.about {
  @include flex-column;
  width: 100%;
  padding: 40px 0;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(214, 134, 3, 1) 0%,
    rgba(240, 118, 45, 1) 50%,
    rgba(214, 134, 3, 1) 100%
  );

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 16px;
    padding: 20px;
    gap: 20px;
    color: $color-white-mustard;
    gap: 20px;

    .about-text-cards {
      width: 100%;
      .about-text-card {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 20px 0;
        width: 100%;
        gap: 15px;

        .about-text-card-img {
          width: 60px;
          height: 60px;
          img {
            border: 2px solid $color-white-mustard;
            border-radius: 50%;
            padding: 10px;
          }
        }

        .about-text-card-text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          text-align: left;
        }
      }
    }
  }

  .about-img {
    background: url(../img/jpg/about.jpg);
    @include img-properties;
    width: 90%;
    height: 200px;
    border-radius: 50% 0% 50% 0%;
  }
}

@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  // about

  .about {
    .about-text {
      margin: auto;
      width: 90%;
      padding: 40px 10px;
    }
  }
}

@media (min-width: #{$desktop-width}) {
  .about {
    flex-direction: row;
    h2 {
      padding-bottom: 30px;
    }

    .about-text {
      flex-direction: column;
      font-size: $font-size-1-dot-2-rem;
      width: 80vw;
      .about-text-cards {
        display: flex;
        gap: 20px;
      }
    }

    .about-img {
      width: 60%;
      height: 500px;
      border-radius: 50% 0% 50% 0%;
      margin-right: 20px;
    }
  }
}
