@use "variables";
@use "mixins";
.about {
  @include mixins.flex-column;
  width: 100%;
  height: 100vh;
  gap: 0;
  .about-text {
    @include mixins.flex-column;
    height: 70vh;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    color: variables.$color-dark-blue;
    gap: 10px;

    h2 {
      padding-bottom: 30px;
    }
  }

  .about-img {
    background: url(../img/png/house.png);
    @include mixins.img-properties;
    height: 30vh;
    width: 100%;
  }
}

@media (min-width: #{variables.$tablet-width}) and (max-width: #{variables.$desktop-width - 1px}) {
  // about

  .about {
    flex-direction: row;

    .about-text {
      width: 90%;
      padding: 40px 10px;
    }
    .about-img {
      height: 600px;
      width: 70vw;
    }
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .about {
    flex-direction: row;

    .about-text {
      font-size: variables.$font-size-1-dot-2-rem;
      width: 80vw;
    }

    .about-img {
      height: 600px;
      width: 70vw;
    }
  }
}
