@use "variables";
@use "mixins";
footer {
  width: 100%;
  @include mixins.flex-column;
  background-color: variables.$color-dark-blue;
  padding: 50px 0 20px 0;
  color: variables.$color-white-mustard;

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contact-information {
      text-align: center;
      margin: auto;
      line-height: 2;

      .map {
        padding-top: 20px;
      }
    }

    .contact-form {
      padding: 30px 10px;

      h3 {
        padding-top: 20px;
      }
      form {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        font-size: 16px;
        width: 100%;
        background-color: variables.$color-dark-blue;

        label {
          color: variables.$color-white-mustard;
        }

        input {
          width: 100%;
          height: 40px;
          margin: auto;
        }

        textarea {
          width: 100%;
          height: 180px;
        }

        .submit-btn {
          margin: auto;
          padding: 15px 30px;
          border-radius: 5px;
          border: 2px solid variables.$color-mustard;
          background-color: variables.$color-mustard;
          color: variables.$color-white-mustard;
          font-size: variables.$font-size-1-dot-1-rem;

          .submit-btn:active {
            transform: scale(0.95);
          }
        }

        span {
          color: red;
          font-size: 14px;
        }
      }
    }
  }
}
.reserved {
  width: 100vw;
  background-color: variables.$color-mustard;
  padding: 10px;
  color: variables.$color-white-mustard;
  text-align: center;
}
@media (min-width: #{variables.$tablet-width}) and (max-width: #{variables.$desktop-width - 1px}) {
  footer {
    .contacts {
      flex-direction: row;
      gap: 70px;
      .contact-information {
        width: 50%;
      }

      #form {
        width: 100%;
      }
    }
  }
}

@media (min-width: #{variables.$desktop-width}) {
  footer {
    .contacts {
      flex-direction: row;
      gap: 100px;
      .contact-information {
        width: 40vw;
      }

      .contact-form {
        form {
          width: 40vw;
        }
      }
    }
  }
}
