@use "mixins";
@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  cursor: default;
}

body {
  position: relative;
  width: 100%;

  background-color: variables.$color-white-mustard;
}

.overlay {
  position: absolute;
  background-color: rgb(35, 34, 48, 0.7);
  height: 100%;
  width: 100vw;
  z-index: 3;
}

.stopScroll {
  overflow: hidden;
}

.container {
  max-width: 1200px; /* maximum width for large screens */
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px; /* horizontal padding for small screens */
  padding-right: 20px;
  overflow: hidden;

  .hidden {
    display: none;
  }
}
