@use "variables";
@use "mixins";
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/webp/hero.webp");
  @include mixins.img-properties;
  .hero-overlay {
    position: absolute;
    top: 20px;
    left: 0;
    height: 98vh;
    width: 100%;
    background-color: rgb(35, 34, 48, 0.3);
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 60px;
    .hero-text {
      padding: 80px 20px;
      text-align: center;
      width: 80%;
      margin: auto;
      color: variables.$color-white-mustard;
      animation: reveal 1.8s ease 0.5s;
      overflow: hidden;
      span {
        animation: reveal 1.8s ease 0.5s;
        font-size: 1.2rem;
        font-weight: 400;
        font-style: italic;
      }
      h1 {
        line-height: 1;
        color: variables.$color-mustard;
        padding: 10px 0 40px 0;
        animation: reveal 1.8s ease 0.5s;
      }

      p {
        animation: reveal 1.8s ease 0.5s;
        overflow: hidden;
        line-height: 1.4;
      }
      .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;
      }

      .primary {
        background: variables.$color-mustard;
        color: variables.$color-dark-blue;

        &:hover {
          color: variables.$color-mustard;
          background: variables.$color-dark-blue;
        }
      }

      .secondary {
        color: variables.$color-white-mustard;
        background: transparent;
        border-color: rgba(variables.$color-white-mustard, 0.7);

        &:hover {
          background: variables.$color-dark-blue;
        }
      }
    }
  }

  @keyframes reveal {
    0% {
      transform: translate(0, 100%);
      opacity: 0.1;
    }

    25% {
      opacity: 0.25;
    }

    50% {
      opacity: 0.5;
    }

    75% {
      opacity: 0.75;
    }

    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

@media (min-width: #{variables.$tablet-width}) and (max-width: #{variables.$desktop-width - 1px}) {
  .hero-text {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .hero-text {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}
