@mixin container-properties {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin img-properties {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
