@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin img-properties {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
