@use "mixins";
@use "variables";
.services {
  width: 100%;
  @include mixins.flex-column;
  background-color: variables.$color-dark-blue;
  color: variables.$color-white-mustard;
  position: relative;
  padding: 60px 0;

  .services-container {
    display: flex;
    flex-direction: column;
  }

  h4 {
    padding: 20px 0 0 40px;
  }

  h2 {
    padding: 20px 0 20px 40px;
  }

  .all-services {
    @include mixins.flex-column;
    font-size: variables.$font-size-1-dot-1-rem;
    gap: 30px;

    .service-item {
      @include mixins.flex-column;
      gap: 25px;
      text-align: center;
      width: 90%;
    }

    .service-img {
      width: 90%;
      height: 250px;
      overflow: hidden;
    }

    #img-1 {
      background: url("../img/jpg/service-1.jpg");
      @include mixins.img-properties;
    }

    #img-2 {
      background: url("../img/jpg/service-2.jpg");
      @include mixins.img-properties;
    }

    #img-3 {
      background: url("../img/jpg/service-3.jpg");
      @include mixins.img-properties;
    }

    #img-4 {
      background: url("../img/jpg/services-4.jpg");
      @include mixins.img-properties;
    }

    .services-text {
      p {
        padding-bottom: 20px;
        width: 90%;
        margin: auto;
        font-size: variables.$font-size-1-dot-1-rem;
      }
      .services-btn {
        margin: auto;
        margin-top: 20px;
        padding: 15px 30px;
        text-align: center;
        color: variables.$color-white-mustard;
        border-radius: 5px;
        border: 2px solid variables.$color-mustard;
        display: block;
        background: variables.$color-mustard;
        font-size: variables.$font-size-1-dot-1-rem;
        cursor: pointer;
      }

      .services-btn:active {
        transform: scale(0.95);
      }
    }
  }

  .modal {
    color: variables.$color-dark-blue;
    background-color: variables.$color-white-mustard;
    text-align: right;
    position: fixed;
    width: 80vw;
    top: 150px;
    z-index: 4;
    padding: 15px;
    border-radius: 5%;

    .border {
      width: 95%;
      margin: auto;
      border-radius: 5% 25%;
      border: 3px solid variables.$color-dark-blue;
    }
  }

  .modal-content {
    @include mixins.flex-column;
    text-align: left;
    line-height: 35px;
    width: 100%;
    margin: auto;
    font-size: variables.$font-size-1-dot-1-rem;
    padding-top: 10px;

    h3 {
      padding-bottom: 30px;
      text-align: center;
    }
  }
  .close-modal-btn-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: right;
    .close-modal-btn {
      padding: 10px;
      font-size: variables.$font-size-1-dot-1-rem;
      background-color: variables.$color-dark-blue;
      color: variables.$color-white-mustard;
      border: 2px;
      margin-top: 40px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  }

  .close-modal-btn:active {
    transform: scale(0.95);
  }
  .close-modal-btn-x {
    border: none;
    font-size: variables.$font-size-1-dot-2-rem;
    font-weight: bold;
    background-color: variables.$color-white-mustard;
    color: variables.$color-dark-blue;
    border-radius: 20px;
  }
}

@media (min-width: #{variables.$tablet-width}) and (max-width: #{variables.$desktop-width - 1px}) {
  .services {
    height: 100vh;
    h4 {
      padding: 20px 0 0 10px;
    }

    h2 {
      width: 100%;
      padding: 20px 0 40px 10px;
    }
    .all-services {
      flex-direction: row;
      gap: 0;
    }
    .modal {
      top: 250px;
      width: 50vw;
    }
  }
  .services-btn {
    font-size: variables.$font-size-1-dot-2-rem;
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .services {
    height: 100vh;

    h4 {
      padding: 20px 0 0 15px;
    }

    h2 {
      width: 100%;
      padding: 20px 0 40px 15px;
    }
    .all-services {
      flex-direction: row;
      width: 100%;
      gap: 0;

      .service-item {
        .service-img {
          height: 400px;
        }
      }

      .services-btn {
        font-size: variables.$font-size-1-dot-2-rem;
        margin-top: 40px;
      }
    }
    .modal {
      top: 200px;
      width: 40vw;
      .modal-content {
        font-size: variables.$font-size-1-dot-2-rem;
      }
    }
  }
}
