.services {
  width: 100%;
  @include flex-column;
  background-color: $color-dark-blue;
  color: $color-white-mustard;
  position: relative;
  padding: 60px 0;

  .services-container {
    @include flex-column;
  }

  h2 {
    font-size: 25px;
    padding: 30px;
  }

  .all-services {
    @include flex-column;
    font-size: $font-size-1-dot-1-rem;
    gap: 30px;

    .service-item {
      @include flex-column;
      gap: 25px;
      text-align: center;
      width: 90%;
    }

    .service-img {
      width: 90%;
      height: 250px;
      overflow: hidden;
    }

    #img-1 {
      background: url("../img/jpg/service-1.jpg");
      @include img-properties;
    }

    #img-2 {
      background: url("../img/jpg/service-2.jpg");
      @include img-properties;
    }

    #img-3 {
      background: url("../img/jpg/service-3.jpg");
      @include img-properties;
    }

    #img-4 {
      background: url("../img/jpg/services-4.jpg");
      @include img-properties;
    }

    .services-text {
      p {
        padding-bottom: 20px;
        width: 90%;
        margin: auto;
        font-size: $font-size-1-dot-1-rem;
      }
      .services-btn {
        margin: auto;
        margin-top: 20px;
        padding: 10px 20px;
        text-align: center;
        color: $color-white-mustard;
        border-radius: 5px;
        display: block;
        border: 2px solid $color-white-mustard;
        background-color: $color-dark-blue;
        font-size: $font-size-1-dot-1-rem;
        cursor: pointer;
      }

      .services-btn:active {
        transform: scale(0.95);
      }
    }
  }

  .modal {
    color: $color-white-mustard;
    background-color: $color-mustard;
    text-align: right;
    position: fixed;
    width: 70vw;
    height: 40vh;
    top: 150px;
    z-index: 4;
    padding: 20px;
  }

  .modal-content {
    @include flex-column;
    width: 350px;
    height: 250px;
    font-size: $font-size-1-dot-1-rem;
    margin: auto;
    padding-top: 20px;

    h3 {
      padding-bottom: 30px;
    }

    .close-modal-btn {
      padding: 10px;
      font-size: $font-size-1-dot-1-rem;
      background-color: $color-mustard;
      color: $color-white-mustard;
      border: 2px solid $color-white-mustard;
      margin-top: 40px;
      border-radius: 5px;
    }

    .close-modal-btn:active {
      transform: scale(0.95);
    }
  }
  .close-modal-btn-x {
    border: none;
    padding: 20px;
    font-size: $font-size-1-dot-2-rem;
    background-color: $color-mustard;
    color: $color-white-mustard;
    border-radius: 20px;
  }
}

@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
  .services {
    height: 100vh;
    h2 {
      padding-bottom: 50px;
    }
    .all-services {
      flex-direction: row;
      gap: 0;
    }
    .modal {
      top: 250px;
      width: 60%;
    }

    .modal-content {
      width: 500px;
      height: 250px;
    }
  }
  .services-btn {
    font-size: $font-size-1-dot-2-rem;
  }
}

@media (min-width: #{$desktop-width}) {
  .services {
    height: 100vh;

    h2 {
      padding-bottom: 50px;
    }
    .all-services {
      flex-direction: row;
      width: 100%;
      gap: 0;

      .service-item {
        .service-img {
          height: 400px;
        }
      }

      .services-btn {
        font-size: $font-size-1-dot-2-rem;
      }
    }
    .modal {
      top: 250px;
      width: 40%;
      height: 400px;

      .modal-content {
        width: 500px;
        height: 300px;
        font-size: $font-size-1-dot-2-rem;
      }
    }
  }
}
