@use "variables";
@use "mixins";

.team {
  @include mixins.flex-column;
  @include mixins.container-properties;
  padding-top: 60px;
  .team-text {
    width: 100%;
    @include mixins.flex-column;
    line-height: 25px;
    text-align: center;
    font-size: 16px;

    padding: 20px;
    color: variables.$color-dark-blue;
    gap: 10px;

    h2 {
      padding-bottom: 30px;
    }
  }

  .team-members {
    @include mixins.flex-column;
    padding-top: 240px;
    gap: 180px;

    .member-card {
      position: relative;
      width: 90%;
      height: 350px;
      margin: 20px;
      background-color: variables.$color-mustard;
      .member-frame-top {
        position: absolute;
        top: -185px;
        left: 30px;
        height: 230px;
        width: 230px;
        border: 2px solid variables.$color-mustard;
      }
      .member-frame-bottom {
        position: absolute;
        top: -115px;
        left: 100px;
        height: 230px;
        width: 230px;
        border: 2px solid variables.$color-white-mustard;
      }

      .member-text {
        @include mixins.flex-column;
        text-align: center;
        justify-content: center;
        height: 320px;
        width: 350px;
        line-height: 25px;
        font-size: 16px;
        padding: 20px;
        padding-top: 160px;
        color: whitesmoke;
        gap: 10px;
      }
      .member-social {
        display: flex;
        gap: 15px;
        margin: auto;
        justify-content: center;
        padding-top: 20px;

        .linkedin {
          background: url(../img/svg/linkedin.svg);
          height: 1.15rem;
          width: 1.15rem;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 3px;
        }
        .email {
          background: url(../img/svg/envelope-solid.svg);
          height: 1.4rem;
          width: 1.2rem;
          background-repeat: no-repeat;
        }
      }
    }
  }

  #member-1 {
    position: absolute;
    top: -160px;
    left: 55px;

    background: url(../img/png/member_1.png);
    @include mixins.img-properties;
    height: 250px;
    width: 250px;
  }
  #member-2 {
    position: absolute;
    top: -160px;
    left: 55px;
    background: url(../img/png/member_2.png);
    @include mixins.img-properties;
    height: 250px;
    width: 250px;
  }
  #member-3 {
    position: absolute;
    top: -160px;
    left: 55px;
    background: url(../img/png/member_3.png);
    @include mixins.img-properties;
    height: 250px;
    width: 250px;
  }
}

@media (min-width: #{variables.$tablet-width}) and (max-width: #{variables.$desktop-width - 1px}) {
  .team {
    .team-members {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;
      padding-top: 0px;
    }
    .member-card {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      #member-1,
      #member-2,
      #member-3 {
        position: unset;
      }
      .member-frame-top,
      .member-frame-bottom {
        display: none;
      }
    }

    .member-text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 100px !important;
      margin: 0;
      border: 2px solid whitesmoke;
    }
    .member-card:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

@media (min-width: #{variables.$desktop-width}) {
  .team {
    display: flex;
    .team-members {
      display: flex;
      flex-direction: row;
      gap: 0;
    }
  }
}
