$color-dark-blue: rgb(35, 34, 48);
$color-orange: #f0542d;
$color-mustard: #ffb003;
$color-white-mustard: #f4eee3;

$tablet-width: 768px;
$desktop-width: 1024px;

$font-size-1-dot-2-rem: 1.2rem;
$font-size-1-dot-1-rem: 1.1rem;
